<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue.js"></script>
    <link rel="stylesheet" href="lib/bootstrap.css">
    <!-- <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script> -->
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    ID:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label for="">
                    Name:
                    <input type="text" class="form-control" v-model="name"@keyup.enter="add">
                </label>
                <!-- 在vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参 -->
                <input type="button" value="添加"class="btn btn-primary" @click="add">&nbsp
                <label>
                    搜索名字：
                    <input type="text" class="form-control"v-model="keywords">
                </label>
            </div>
        </div>
       
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- 要把model中的数据同步渲染到表格中，需要借助循环v-for,循环创建tr -->
                <!-- <tr v-for="item in list" :key="item.id"> -->
                <!-- 在search方法内部，通过for循环，把所有符合搜索关键字的数据，保存到一个新的数组中，返回 -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.ctime | timeFormat()}}</td>
                    <td>
                        <a href=""@click="del(item.id)">删除</a>
                    </td>

                </tr>
            </tbody>
        </table>
        </label>
        <!-- <footer>
            <template style="float:right;">
                <ul class="pagination pagination-lg">
                    <li id="prepage" @click="prepage()"v-if="page==1"class="disabled">
                        <a href="#">上一页</a>
                    </li>
                    <li @click="numpage(page, $event)" v-if="page==1" class="active"><a href="#">{{page}}</a></li>
                    <li v-else @click="numpage(page, $event)"><a href="#">{{page}}</a></li>
                    <li id="nextpage" @click="nextpage()"v-if="page==Math.ceil(rows.length/pagesize)">
                        <a href="#">下一页</a>
                    </li>
                </ul>
            </template>
        
        </footer> -->
    </div>
    <script>
        //格式化时间
        Vue.filter('timeFormat',function(datestr,pattern=""){
            var date=new Date(datestr)
                var y=date.getFullYear()
                var m=date.getMonth()+1
                var d=date.getDate()
                return `${y}-${m}-${d}`
                if(pattern && pattern.toLowerCase()!=='yyyy-mm-dd'){
                    return `${y}-${m}-${d}`
                }else{
                    var hh=date.getHours()
                    var mi=date.getMinutes()
                    var s=date.getSeconds()
                    return `${y}-${m}-${d} ${hh}:${mi}:${s}`
                }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                id:'',
                name:'',
                keywords:'',
                //表格中的每一行是一个对象，每个对象是一个数组
                list: [
                    { id: 1, name: "奔驰", ctime: new Date() },
                    { id: 2, name: "奥迪", ctime: new Date() },
                    { id: 3, name: "宝马", ctime: new Date() },
                    { id: 4, name: "劳斯莱斯", ctime: new Date() },
                    { id: 5, name: "福特", ctime: new Date() },
                    { id: 6, name: "本田", ctime: new Date() },
                    { id: 7, name: "大众", ctime: new Date() },
                    { id: 8, name: "五菱", ctime: new Date() },
                    { id: 9, name: "红旗", ctime: new Date() },
                ]
                // pagesize: 3,
                // curpage:1,//当前页的页码

            },
            methods: {
                add() {
                    // 分析：
                    // 1.获取到id和name，直接从data上面获取
                    // 2.组织出一个对象
                    // 3.把这个对象，调用数组的相关方法，添加到当前data上的list中
                    //在vue中已经实现了数据的双向绑定。每当修改了data，vue'会默认监听到了这个数据改动，然后用到页面上
                    //5.在vm中进行model的数据操作，同时在操作model时，执行的业务逻辑操作
                    var car={ id: this.id, name: this.name, ctime: new Date()}
                    this.list.push(car)
                    //添加完操作后，需要把每一个框框清空
                    this.id=this.name=''
                },
                del(id){
                    //根据id进行删除或者执行sql语句进行删除
                    // 分析：
                    // 如何根据id找到要删除的这一项的索引
                    // 使用some方法循环，根据指针的条件进行判断，如果返回true，则循环会被终止（因为随时可能都会被终止）
                    
                    // 如果有一个元素满足条件，则表达式返回true, 剩余的元素不会再执行检测。
                    // 如果没有满足条件的元素，则返回false。
                    // 注意： some() 不会对空数组进行检测。
                    // 注意： some() 不会改变原始数组。
                    // this.list.some((item,i)=>{
                    //     if(item.id==id){
                    //         //从索引位置开始删除，删除一个，但是不插入新的数据
                    //         this.list.splice(i,1)
                    //         return true;//阻止循环
                    //     }
                    // })
                    //找到索引后直接根据splice方法进行删除
                    // *****************************
                    // 采用findindex方法
                    var index=this.list.findIndex(item=>{
                        if(item.id==id){
                            return true;
                        }
                    })
                    this.list.splice(index,1)
                },
                search(keywords){
                    // var newList=[]
                    // // 根据关键字进行数据的存储
                    // this.list.forEach(item=>{
                    //     if(item.name.indexOf(keywords)!=-1){
                    //         newList.push(item)
                    //     }
                    // })
                    // return newList
                    // 采用filter方法
                    return this.list.filter(item=>{
                        if(item.name.includes(keywords)){
                            return item
                        }
                         
                    })
                },
                // prepage(event){
                //     $(".active").prev().trigger("click");
                // },
                // numpage(num,event){
                //     if(curpage==num){
                //         return;
                //     }
                //     this.curpage==num;
                //     $(".pagination li").removeClass("active");
                //     if (event.target.tagName.toUpperCase() == "LI") {
                //     $(event.target).addClass("active");
                //     }
                //     else{
                //         $(event.target).parent().addClass("active");
                //     }
                //     if(this.curpage==1){
                //         $("#prepage").addClass("disabled");
                //     }
                //     else{
                //         $("#prepage").removeClass("disabled");
                //     }
                //     if(this.curpage==Math.ceil(this.rows.length/this.pagesize)){
                //         $("#nextpage").addClass("disabled");
                //     }
                //     else{
                //         $("nextpage").removeClass("disabled");
                //     }
                // },
                // nextpage(event){
                //     $(".active").prev().trigger("click");
                // }
            }
        });
    </script>
</body>

</html>